/* reset.cssを適用しているのでcss使用時は全て自分でスタイルを作成すること */

/* # 共通で使用するスタイル ########################################### */
h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 26px;
  color: rgb(61, 182, 242);
  margin-top: 10px;
}

.small {
  font-size: 16px;
}

/* # header ########################################### */
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 60px;
  width: 100%;
  padding: 0px 20px 0px 30px;
  /* background-color: white; */
  background-color: #ffd700;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  border-bottom: 1.5px solid;
  border-bottom-color: rgb(225, 225, 225);

  justify-content: space-between;
  align-items: center;
}

.user-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.ham-close-icon {
  margin-top: 15px;
  margin-right: 25px;
  margin-bottom: 20px;
  text-align: right;
}

.ham-menu {
  margin-right: 10px;
  text-align: right;
}

.ham-menu li {
  padding: 8px 0;
}

.logo {
  /* margin-top: 15px; */
  font-size: 25px;
}

.logo {
  color: rgb(61, 182, 242);
  font-family: Hiragino Kaku Gothic Std;
  text-decoration: none;
}

.navigationbar {
  margin: 0 0 0 auto;
}

.navigationbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigationbar ul li a {
  color: black;
  text-decoration: none;
  display: block;
  line-height: 60px;
  padding: 0 20px;
}

body {
  background-color: hsl(50, 100%, 80%);
}

.content-pageBackImg {
  width: 40px;
  height: 40px;
}

/* # userMenu ########################################### */
.user-menu-content {
  display: flex;
  justify-content: center;
}
.user-menu-list {
  margin-top: 40px;
  margin-bottom: 100px;
  padding-left: 5%;
}

.user-menu-list li {
  padding: 16px 0;
  font-size: 1.3em;
}

/* # tripstart ########################################### */
.tripstart-content {
  font-family: arial;
  font-size: 24px;
  text-align: center;
}
.tripstart-button {
  background-color: hotpink;
  border-radius: 10%;
}

/* # tripsummary ########################################### */
.tripsummary-content {
  font-family: arial;
  font-size: 24px;
  text-align: center;
}

.tripsummary-content-image {
  width: 300px;
  height: 300px;
  border-radius: 1em;
}

.tripsummary-content-image-filter {
  width: 300px;
  height: 300px;
  border-radius: 1em;
  filter: opacity(5%);
}

.tripsummary-content-image-icon {
  width: 50px;
  height: 50px;
}

.tripsummary-content-wrapped {
  position: relative;
  /* background-color: black; */
  height: 300px;
  width: 300px;
  border: solid 0px;
  border-radius: 1em;
  margin: 0 auto;
  overflow: hidden;
  opacity: 0.3;
}

.tripsummary-content-image-keyclose {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 150px;
  right: 120px;
  /* opacity: 1; */
}

/* # tripdetail ########################################### */
.trip-detail-content {
  display: flex;
  justify-content: center;
}
.trip-detail-list {
  margin-top: 20px;

  /* padding-left: 5%; */
}

.trip-detail-list li {
  padding: 8px 0;
  font-size: 1.4em;
  font-weight: bold;
}
.trip-detail-list li p {
  padding: 8px 0;
  padding-left: 16px;
  font-size: 0.8em;
  font-weight: normal;
}

.trip-detail-img img {
  width: 90vw;
  margin-bottom: 32px;
}

.trip-detail-mission {
  display: flex;
  justify-content: space-between;
}

/* # navber ########################################### */

.img-container {
  margin-top: 60px;
  position: relative;
}

.mainImg {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 5 / 2;
}

nav {
  width: 600px;
  height: 400px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  /* ポシション設定 */
  position: absolute;
  left: 27%;
  top: 50%;
  transform: translate(-50%, -50%);
}

nav form {
  /* display: flex; */
  justify-content: center;
}

/* # MainBody ########################################### */

.MainBody {
  background-color: rgb(139, 222, 218);
  width: 100%;
  /* height: 1000px; */
}

.loading-container {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9000;
  /* 背景色を指定 */
  background-color: rgba(0, 0, 0, 0.7); /* 最後の数値（0.7）が透明度を表す */
}

.loadingImg {
  width: 30%;
  height: 55%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  /* 画像自体を透過させる */
  opacity: 1; /* 1は完全不透明、0は完全透明 */
}

.timeline {
  list-style: none;
  margin: 0px auto;
  padding: 10px 20px;
  width: 80%;
  background-color: white;
}
.timeline > li {
  margin-bottom: 60px;
  font-size: 20px;
}

@media (min-width: 640px) {
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 120px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #0080ff;
    position: absolute;
    left: 116px;
    top: 24px;
    border-radius: 100%;
  }
}

.timeline-content-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50px;
}

.timeline-content-child {
  display: flex;
  justify-content: space-between;
}

/* .timeline-content-child p {
  max-width: 300px;
} */

/* # footer ########################################### */
footer {
  height: 300px;
  background-color: rgb(111, 111, 255);
}
