.wrap {
	/* width: 100%;
	height: 500px; */
	margin-top: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

h2 {
	text-align: center;
}

.registrations-container {
	margin-top: 20px;
}

.vertical-button {
	display: block;
}

.spotImg {
	max-width: 70vw; /* ビューポートの幅の100% */
	max-height: auto; /* 高さは自動で調整 */
}
