.spotContainer {
  height: 20vh;
  margin: 10px;
  background-color: #bf8a49;
  color: white;
  font-size: 20px;
  border-radius: 30px;
  font-weight: bold;

  display: flex; /* フレックスコンテナにする */
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: space-around; /* 要素間と両端に均等のスペースを配置 */
  padding: 0 10px; /* 左右にパディングを追加 */
}

.spotImg {
  height: 80%;
  width: auto;
}
